<h1>Home Page</h1>
<div class="container">
  <form action="/save" method="post">
    <label for="First Name">First Name</label><br />
    <input type="text" name="firstName" /><br />
    <label for="Last Name">Last Name</label><br />
    <input type="text" name="lastName"><br />
    <button type="submit">Save</button>

  </form>
</div>
