<h1>Home Page</h1>
<div class="container">
  <form action="/save" method="post">
    <label for="First Name">First Name</label>
    <input type="text" name="firstName" />
    <label for="Last Name">Last Name</label>
    <input type="text" name="lastName">

  </form>
</div>
