<h1>A NodeJS View</h1>
<form action="/save" method="post">
    <label for="FirstName">First Name</label>
    <input type="text" name="firstname"><br><br>
    <label for="LastName">Last Name</label>
    <input type="text" name="lastname"><br><br>
    <label for="password">Password</label>
    <input type="password" name="password"><br><br>
    <label for="email">Email</label>
    <input type="email" name="email"><br><br>
    <button type="submit">Submit</button>
</form>
